body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background: url('../img/bg.jpg') no-repeat center center fixed;
}

h1, h3, h4, h5 {
	text-transform: uppercase;
	font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	letter-spacing: 1;
}

h1 {
	color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

hr {
	border-color: #999999;
}

.box {
	margin-bottom: 20px;
	padding: 30px 15px;
	background: white;
}