body {
	/*font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;*/
	/*background: url('../img/bg.jpg') no-repeat center center fixed;*/
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background: url('../img/wood.JPG');
	
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	/*font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family: "Abemo";
	font-weight: 400;
	letter-spacing: 1;
	color: #400000;
}

.title, .address {
	color: #400000;
	letter-spacing: 2;
	text-transform: capitalize;
}

.navbar, .dropdown-menu {
    background-color: #FFFFCC;
    border-color: #FFFFCC;
    color: #400000;
}

.navbar-brand {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
}

.navbar li {
	color: #400000;
}

.navbar-nav {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 3px;
	display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

hr {
	border-color: #400000;
}

.box {
	margin-bottom: 20px;
	padding: 30px 15px;
	background: #FFFFCC;
}

.modal {
	color: #400000;
}

.panel-group .panel-heading {
	background-color: #400000;
	color: white;
}

.panel-group .panel-body {
	background-color: #FFFFCC;
}

.panel-group .panel-body .name {
	font-style: strong;
}
