body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background: url('../img/wood.jpg');
	font-family: "Abemo";
	font-size: 1.5em;
	
}

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-family: "Abemo";
	font-weight: 400;
	letter-spacing: 1;
	color: #400000;
}

h5, h6 {
	text-transform: capitalize;
	font-family: "Abemo";
	font-size: 1.1em;
	color: #400000;
}

.title {
	text-transform: uppercase;
	color: #400000;
	letter-spacing: 3;
	font-size: 3em;
}

.address {
	text-transform: capitalize;
	color: #400000;
	letter-spacing: 2;
	font-size: 1.5em;
}

.navbar, .dropdown-menu {
    background-color: #FFFFCC;
    border-color: #FFFFCC;
    color: #400000;
}

.navbar-brand {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
}

.navbar li {
	color: #400000;
}

.navbar-nav {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 3px;
	display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

hr {
	border-color: #400000;
}

.box {
	margin-bottom: 20px;
	padding: 30px 15px;
	background: #FFFFCC;
}

.modal-header, .modal-body, .modal-footer {
    border: 1px solid #800000;
    background-color: #FFFFCC;
}

/*th {
	border-top: 2px solid #400000;
	border-bottom: 1px solid #400000;
}

td {
	border-bottom: 1px solid #400000;
}*/

.panel-group .panel-heading {
	background-color: #400000;
	color: white;
}

.panel-group .panel-body {
	background-color: #FFFFCC;
}

.panel-group .panel-body .name {
	font-variant: small-caps;
	font-size: 1.2em;
	color: #400000;
}

.panel-group .panel-body .ingredients, .location {
	font-style: italic;
}

.panel-group .panel-body .price {
	font-variant: small-caps;
	font-size: 1.2em;
	color: #400000;
}
